{% extends 'base.html.twig' %}

{% block title %}Ajouter un auteur{% endblock %}

{% block body %}

<style>
    h1 {
        padding: 2rem;
        text-align: center;
    }

    #author_form {
        padding-left: 32rem;
        padding-right: 32rem;
    }

    #author_form div {
        display: grid;
        grid-template-columns: 20% 80%;
    }
</style>

<h1>Ajouter un auteur</h1>

{{ form(add_author_form) }}

{% endblock %}