{% extends 'base.html.twig' %}

{% block title %}Les livres{% endblock %}

{% block body %}
<style>
    h1 {
        padding: 2rem;
        text-align: center;
    }

    .card-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
    }
</style>

<h1>Index</h1>

<div class="card-list container">
    {% for book in books %}
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">
            <h2>{{ book.name }}</h2>
            <p class="card-text">{{ book.releaseAt|date("m/d/Y") }}</p>
        </div>
        <div class="card-body">
            <p class="card-text">written by {{ book.author }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}