{% extends 'base.html.twig' %}

{% block title %}Ajouter mon adresse{% endblock %}

{% block body %}

<style>
    h1 {
        padding: 2rem;
        text-align: center;
    }

    #user_address_form {
        padding-left: 32rem;
        padding-right: 32rem;
    }

    #user_address_form div {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .submit_form {
        margin: auto;
    }
</style>

<h1>Ajouter mon adresse</h1>

{{ form(modify_address_form) }}

{% endblock %}